.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}
.blog-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #323232;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}

.created {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-card-btn {
  display: flex;
  gap: 10px;
  padding: 20px 40px;
}

.Link-btn {
  color: white;
  text-decoration: none;
}
.Link-btn:hover{
  color: #323232;
}
