.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 1px 0 5px black;
  padding: 10px 100px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  margin-left: 20px;
  font-size: 24px;
  color: #323232;
  font-weight: 600;
  text-transform: uppercase;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style: none;
}

.navbar-icon {
  margin-right: 20px;
  padding: 10px;
}

.custom-link {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  color: #323232;
  padding: 10px;
}
